*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    min-height: 100%;
    background: url(bcg.jpg);
   
}

#clock{
    font-family: "Roboto", sans-serif;
    font-size: 120px;
    text-shadow: 3px 3px 2px #333;
    color: #333;
}

.clock-container{
    background-color: rgba(255, 255, 255, 0.445);
    padding: 20px;
    letter-spacing: 30px;
    max-width: 750px;
    text-align: center;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 10%;
}

#date{
    letter-spacing: 10px;
    font-size: 25px;
    text-shadow: 1px 1px 2px #333;
}

.animate{
    color: #fff;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    background-color: rgba(51, 51, 51, 0.234);
}